/venv
__pycache__/
*.pyc
*.pyo
*.pyc
*.pyc
*.log
runs/boxheads_svg0/e100_state
runs/boxheads_svg0/e105_state
runs/boxheads_svg0/e10_state
runs/boxheads_svg0/e110_state
runs/boxheads_svg0/e115_state
runs/boxheads_svg0/e120_state
runs/boxheads_svg0/e15_state
runs/boxheads_svg0/e20_state
runs/boxheads_svg0/e25_state
runs/boxheads_svg0/e30_state
runs/boxheads_svg0/e35_state
runs/boxheads_svg0/e40_state
runs/boxheads_svg0/e45_state
runs/boxheads_svg0/e50_state
runs/boxheads_svg0/e55_state
runs/boxheads_svg0/e5_state
runs/boxheads_svg0/e60_state
runs/boxheads_svg0/e65_state
runs/boxheads_svg0/e70_state
runs/boxheads_svg0/e75_state
runs/boxheads_svg0/e80_state
runs/boxheads_svg0/e85_state
runs/boxheads_svg0/e90_state
runs/boxheads_svg0/e95_state
runs/boxheads_svg0/e5_state
soccer_animation.gif
